@page
@model LoginModel

@{
    ViewData["Title"] = "Prijavi se";
    Layout = "_LoginRegisterLayout";
}
<div class="container login-box p-3">
    <div class="col-md-4 col-sm-12 col-xl-3 login-box p-3" >
        <section>
            <form method="post">
                <h4>Prijavite se</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.KorisnickoIme"></label>
                    <input asp-for="Input.KorisnickoIme" class="form-control" />
                    @Html.ValidationMessageFor(IM => IM.Input.KorisnickoIme, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    @Html.ValidationMessageFor(IM => IM.Input.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group ml-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Prijavite se</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrirajte se</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
