
@{
    ViewData["Title"] = "BannedPage";
}

<h2>
    Administrator Stranice vam je zabranio pristup starnici.
</h2>

<p>
    Ukoliko mislite da je došlo do greške, javite se administratoru na Mail: 
    <b>administor@hadmaidshot.com</b>
</p>

